name: Lint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-24.04-arm
    
    steps:
      - uses: actions/checkout@v4

      - name: Repo Warm Up
        uses: ./.github/actions/repo-warm-up
          
      - name: Run ESLint
        run: pnpm run lint 