name: Test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-24.04-arm

    permissions:
      contents: read
      pull-requests: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Repo Warm Up
        uses: ./.github/actions/repo-warm-up

      - name: Configure AWS credentials
        uses: ./.github/actions/aws-warm-up
      
      - name: Run Jest Test Suite
        run: pnpm test

      - name: Upload Test Report to S3
        if: success() || failure()
        run: |
          aws s3 sync coverage/ s3://postrix-test-reports/${{ github.sha }}/
        env:
          AWS_DEFAULT_REGION: us-east-1

      - name: Comment PR
        uses: ./.github/actions/comment-pr
        if: success() || failure()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          title: Jest Reports
          message: |
            **Test Report:** [View detailed test report](http://postrix-test-reports.s3-website-us-east-1.amazonaws.com/${{ github.sha }})
            **Coverage Report:** [View detailed coverage report](http://postrix-test-reports.s3-website-us-east-1.amazonaws.com/${{ github.sha }}/lcov-report/index.html)