name: Type Check

on:
  pull_request:

jobs:
  type-check:
    runs-on: ubuntu-24.04-arm

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Repo Warm Up
        uses: ./.github/actions/repo-warm-up
      
      - name: Run Type Check
        run: pnpm run type-check
