
/** Forms **/
form .fieldRow select {direction: rtl; text-align: right;}
form .fieldRow select option {text-align: right;}

form .fieldRow .field_wrap{float: right;}

form .fieldRow .field_textarea textarea,
form .fieldRow select,
form .fieldRow input {float: right;}

form .errField {float: right;}
